* { <!everything in the website>
  margin:0;
  padding:0;
  font-family:'Open Sans', sans-serif;
}
/*for images on cat page> */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/*navagation bar */
nav{
 width:100%;
  height:100px;
  background-color:#8cd2ed;
}

ul{
  margin-left:60px;
}

ul li{
  list-style: none;
  display: inline-block;
  float:left;
  line-height:100px;
}

ul li a {
  display:block;
  text-decoration:none;
  display: inline-block;
  font-size: 25px;
  color:black;
  padding:0 20px;
}

ul li a:hover {
  
  font-size: 20px;
  color:pink;
  
}

.zoom:hover {
  transform: scale(1.5); 
}
/*image header on home page> */
header{
 /* background:url("images_for_website/photo of lizzie.jpg"); */
  background: url("images_for_website/lizzie3.jpg");
  height:100vh;
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center center;
  position: relative;
}

.header text{
  text-align: center;
  position: absolute;
}

.header text h1{
  text-align:center; 
}

.header text h3{
  text-align: center; 
}



div.box{
  text-align: center;
}

body{
  background: #1d3d4a;
  color:#c9e5f0;
  font-family:'Open Sans', serif;
  font-size: 1.15em;
  
}

footer{
  background: #8cd2ed;
  color:black;
}
